<div class="container-fluid pb-4 pt-4 mt-5 text-white" id="footter" style="background-color: black">
  <div class="container mt-5">
    <div class="row">

    <div class="col-md-3 col-sm-12"> <h4 class="text-white"> CAMPUS<span class="text-primary" >   COLLAB  </span> </h4> <p class="text-justify p-2 text-white" > WEBSITE NAME is communicationg platform for one to one interaction with people of common intersts so that they can spend their qulity time in a more useful and meaningful manner. </p> </div>
    <div class="col-md-3 col-sm-12"> <h4> Imporatant Links </h4> 
    <ul>
    <li> <a href="#home" class="text-white"> Home </a></li>
    <li> <a href="#about" class="text-white"> Create Event </a></li>
    <li> <a href="#people" class="text-white"> Find Event </a></li>
    <li> <a href="#volunteers" class="text-white"> Show Event </a></li>
    <li> <a href="#areaofwork" class="text-white">  Profile </a></li>
    <li> <a href="#contact" class="text-white"> Sign IN </a></li> </div>
    <div class="col-3"> <h4 class="text-white"> Contact Information </h4>
    <p> <i class="icofont icofont-home text-white " > </i> GURU NANAK DEV UNIVERSITY AMRITSAR </p>
    <i class="icofont icofont-phone text-white " > </i> xxxxxxxxxx , xxxxxxxxx</p>
    <i class="icofont icofont-send-mail text-white " > </i> abc@xyz.com  </p>  </div>
    <div class="col-md-3 col-sm-12"> <h4 class="text-white"> Subscribe </h4>
    <p class=" text-white" > <b>  For Our UPDATES. </b> </p> 
    <p p class=" text-white"> Get Upcoming Events Information Right in Your Inbox. </p>
    <form> 
    <div class="input-group">
  <input type="email" class="form-control" placeholder="abc@xyz.com" >
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" id="button-addon2" style="font-size: 46"> <i class="icofont icofont-send-mail text-white " > </i></button>
  </div>
</div>
</form>
</div>
   </div>
  </div>
  

</div>

                 
  
                                

</body>

</html>