<% include partials/header %>
<link rel="stylesheet" href="/style.css">
    
  </head>
  <body onload="newUser()">
<% include partials/nav%>
<p class="username"><%=currentUser.username%></p>
<p class="groupId"><%=groupId%></p>
<div class="output">
  <div class="feedback"></div>
</div>
<div class="">
  <input type="text" placeholder="message" id="message">
  <br/>
  <button type="button" name="button" id="msg_btn">Send</button>
</div>
<script type="text/javascript" src="../chat.js"></script>
<% include partials/footer%>
